body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
    color: black;

    a {
        color: white;
        font-weight: 800;
        background-color: black;
        padding-left: 3px;
        padding-right: 3px;
        text-decoration: none;
        border-bottom: none;
    }

    a:hover {
        color: white;
        background-color: #b03608;
        padding-left: 3px;
        padding-right: 3px;
        text-decoration: none;
        border-bottom: none;
    }

    a:visited {
        color: white;
        text-decoration: none;
        border-bottom: none;
    }

    a:visited:hover {
        color: white;
        background-color: #b03608;
        padding-left: 3px;
        padding-right: 3px;
        text-decoration: underline;
        border-bottom: none;
    }

    .navigation a {
        color: black !important;
        font-family: LeagueSpartan-Bold;
        background: none !important;
        padding: 0;
    }

    .navigation a:hover {
        color: #b03608 !important;
        border-bottom: none;
        font-family: LeagueSpartan-Bold;
        background: none !important;
        padding: 0;
    }
    
    .title a {
        color: black !important;
        text-decoration: none;
        border-bottom: none;
        font-family: LeagueSpartan-Bold;
        background: none !important;
        padding: 0;
    }

    .title a:hover {
        color: #b03608 !important;
        text-decoration: none;
        border-bottom: none;
        font-family: LeagueSpartan-Bold;
        background: none !important;
        padding: 0;
    }
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #b03608;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b03608;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



@font-face {
    font-family: "ProximaNova-Regular";
    src: url("ProximaNova-Regular.ttf");
  }

  @font-face {
    font-family: "ProximaNova-bold";
    src: url("ProximaNova-Bold.ttf");
  }

  @font-face {
    font-family: "ProximaNova-italic";
    src: url("ProximaNova-italic.ttf");
  }

  @font-face {
    font-family: "LeagueSpartan-Bold";
    src: url("LeagueSpartan-Bold.ttf");
  }

  @font-face {
    font-family: "Alata-Regular";
    src: url("Alata-Regular.ttf");
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    align-items: stretch;
}

footer {
    background: black;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    position:relative;
    bottom: 0px;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    box-sizing: border-box;
    align-items: center;
    
}

.title h1 {
    font-size: 31,5px;
    font-weight: bold;
    letter-spacing: 20px;
    font-family: LeagueSpartan-Bold;
}

.navigation nav ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    font-family: alata-regular;
}

.navigation nav ul li {
    display: inline;
    margin-right: 20px;
}

.navigation nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 80%; */
    padding: 0 10%;
    margin-top: 20px;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

li {
    padding-bottom: 5px;
}

h1 {
    font-size: 21,5px;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: LeagueSpartan-Bold;
}

.images {
    flex: 1;
    display:flex;
    align-items:flex-start;
    flex-direction: row;
    padding-top: 20px;

    @media (max-width: 800px) {
        flex: 1;
        display:flex;
        width: max-content;
        flex-direction: column;
        justify-content: center;

    }

    img {
        width: 48%; 
        max-width: 100%;
        height: auto;
        max-height: 300px;
        flex: 1;
        padding-right: 4%;
        padding-bottom:4%;

        @media (max-width: 800px) {
            flex: 1;
            display:flex;
            width: max-content;
            flex-direction: column;
            justify-content: center;

        }
    }

    
}

.footericon {
max-width: 24px;
height: auto;
}

.projects img {
    height: auto;
    max-height: 300px;
    flex: 1;
    padding-right: 4%;
    padding-bottom:15%;
}

.content {
    padding: 0 20px;
    padding-bottom: 40px;
    flex:1;
 
}

.content p {
    line-height: 1.6;
    b {
        font-family: 'Courier New';
    }
}

.content_projects {
    padding: 0 20px;
    padding-bottom: 40px;
    display: flex;
    flex: 1;
    flex-flow: row;
  
    @media (max-width: 800px) {
        flex-wrap:wrap;
        }

}

.content_projects img {
    width: 600px;
    padding-bottom: 15%;
    padding-top: 20px;
    padding-left: 10%;
    @media (max-width: 800px) {
       max-width: fit-content;
       padding-left: 0;
        }
}

.content_projects p {
    line-height: 1.6;
    b {
        font-family: 'Courier New';
    }
}

.row {
    display: flex;
    flex-flow: row;

    @media (max-width: 800px) {
    flex-direction: column;
    }
}

.row-bio {
    display: flex;
    flex-flow: row;

    @media (max-width: 800px) {
    flex-direction: column-reverse;
    }
}

.rowtext {
   padding-left: 4%;
}

.rowtext p {
    line-height: 1.6;
    b {
        font-family: 'Courier New';
    }
}